Dockerfile

node_modules
node_modules/*

migrations
migrations/*
**/migrations

.env*

.DS_Store
*/.DS_Store
**/*/.DS_Store

**/*.log

.vscode

.git
.git/*
.gitignore

.vscode
.vscode/*
.github
.github/*

*.md
